* {
  font-family: "Candara"
}
html,
body {
  height: 100%;  
}
body {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #0a1855;
}
h1 {
  color: #c7ba0c;
  font-size: 100px;
  font-weight: 400; 
}

